.rounded-circle {
  width: 42px;
  height: 43px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.userInfo {
  height: 100%;
  line-height: 0%;
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}
