.rounded-circle {
  width: 42px;
  height: 43px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.userNav {
  border: 1px solid #ccc;
  height: 20px;
}

.userInfo {
  height: 100%;
  line-height: 0%;
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.navbar-toggler,
.btn-close {
  cursor: pointer;
  outline: none;
  padding: 0.3rem;
  font-size: 0.8rem;

  &:hover {
    border: 1px solid #ccc;
  }
  &:focus {
    box-shadow: none;
    border: 3px solid #ccc;
  }
}
