@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";
@import "./components/NavBar.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto Flex", sans-serif;

  width: 100%;
  p {
    font-size: 15px;
  }
}

.app {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 48em) {
  .side {
    display: none;
  }
}
