@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500&display=swap");

$position-values: (
  0: 0,
  3: 3%,
  5: 5%,
  10: 10%,
);

@import "node_modules/bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  width: 100%;
  p {
    font-size: 15px;
  }
}

