.quantity {
  display: flex;
  gap: 12px;
  border-radius: 0.2rem;
  align-items: center;

  span {
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    padding: 0.1rem 0.6rem;

    &:last-child {
      color: #f86e0a;
    }

    &:hover {
      background-color: rgb(244, 242, 241);
    }

    .icon {
      font-size: 16px;
    }
  }

  p {
    font-size: 14px;
    margin-top: 0.8rem;
    background-color: #ccc;
    padding: 0.1rem 1rem;
    border-radius: 13px;
  }
}
